<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requestMap</key>
	<dict>
		<key>name</key>
		<string>Base Request Map</string>
		<key>version</key>
		<string>0.1</string>
		<key>context</key>
		<string>DFSPApplicationContext</string>
		<key>isSimulated</key>
		<true/>
		<key>requests</key>
		<array>
			<dict>
				<key>name</key>
				<string>signon</string>
				<key>parameters</key>
				<dict>
					<key>userName</key>
					<string>credentials.userName</string>
					<key>password</key>
					<string>credentials.password</string>
					<key>oldToken</key>
					<string>authorization.authorizationToken</string>
					<key>appVersion</key>
					<string>appVersion</string>
					<key>appName</key>
					<string>appName</string>
					<key>deviceType</key>
					<string>deviceType</string>
					<key>osVersion</key>
					<string>osVersion</string>
				</dict>
				<key>body</key>
				<dict/>
				<key>contentType</key>
				<string>DFSPAuthorization</string>
				<key>requestPath</key>
				<string>oauth/signon</string>
				<key>method</key>
				<string>GET</string>
				<key>simulatedDataPath</key>
				<string>signon</string>
			</dict>
			<dict>
				<key>name</key>
				<string>signoff</string>
				<key>parameters</key>
				<dict>
					<key>userID</key>
					<string>authorization.userID</string>
					<key>currentToken</key>
					<string>authorization.authorizationToken</string>
					<key>appVersion</key>
					<string>appVersion</string>
					<key>appName</key>
					<string>appName</string>
					<key>deviceType</key>
					<string>deviceType</string>
					<key>osVersion</key>
					<string>osVersion</string>
				</dict>
				<key>body</key>
				<dict/>
				<key>contentType</key>
				<string>DFSPAuthorization</string>
				<key>requestPath</key>
				<string>oauth/signoff</string>
				<key>method</key>
				<string>GET</string>
				<key>simulatedDataPath</key>
				<string>signoff</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
